<div class="card-modal shadow nopadding">
  <!-- cardcontent -->
  {% include "./components/cardcontent.jinja" %}

  <!-- modalcontent -->
  {% include "./components/modalcontent.jinja" %}

  <!-- bookingmodal -->
  {% include "./components/bookingmodal.jinja" %}
</div>