<div class="card-modal shadow nopadding">
  <!-- cardcontent -->
  {% include "./components/cardcontent.jinja" %}

  <!-- modalcontent -->
  {% include "./components/modalcontent.jinja" %}

  <!-- bookingcontent -->
  {% include "./components/bookingcontent.jinja" %}
</div>
