<div class="col-lg-4 nopadding card-filter pe-3 mb-3">
  <div class="card shadow bg-400">
    <div class="card-header">
      <a
        class="collapsed text-decoration-none d-flex"
        data-bs-toggle="collapse"
        href="#collapse-collapsed"
        aria-expanded="true"
        aria-controls="collapse-collapsed"
        id="heading-collapsed"
      >
        <h5 class="mb-0 align-self-center tx-000">Event filters</h5>
        <i
          class="
            fa fa-lg fa-chevron-down fa-fw
            ms-auto
            align-self-center
            tx-000
          "
        ></i>
      </a>
    </div>

    <div
      id="collapse-collapsed"
      class="collapse show"
      aria-labelledby="heading-collapsed"
    >
      <div class="p-3 bg-300 tx-000">
        <form class="form-inline">
          <p class="text-left mb-1">Search by title:</p>
          <div class="col input-box">
            <input
              type="text"
              class="form-control"
              placeholder="Title"
              aria-label="Title"
              aria-describedby="basic-addon1"
            />
          </div>

          <p class="text-left mb-1 mt-3">Search by artist:</p>
          <div class="col input-box">
            <input
              type="text"
              class="form-control"
              placeholder="Artist"
              aria-label="Artist"
              aria-describedby="basic-addon1"
            />
          </div>

          <p class="text-left mb-1 mt-3">Search by event category:</p>
          <div class="col input-box">
            <input
              type="text"
              class="form-control"
              placeholder="Category"
              aria-label="Category"
              aria-describedby="basic-addon1"
            />
          </div>

          <hr />

          <p class="text-left mb-1 mt-3">Show events after:</p>
          <div class="col input-box">
            <input
              type="text"
              class="form-control"
              placeholder="DD-MM-YYYY"
              aria-label="Date"
              aria-describedby="basic-addon1"
            />
          </div>
          <p class="text-left mb-1 mt-3">Show events before:</p>
          <div class="col input-box">
            <input
              type="text"
              class="form-control"
              placeholder="DD-MM-YYYY"
              aria-label="Date"
              aria-describedby="basic-addon1"
            />
          </div>

          <p class="text-left mt-3 mb-1">Filter by event status:</p>
          <select class="form-select" aria-label="status select">
            <option selected>Select a status...</option>
            <option value="upcoming">Upcoming</option>
            <option value="inactive">Status</option>
            <option value="booked">Booked</option>
            <option value="cancelled">Cancelled</option>
          </select>

          <button
            type="sort"
            class="flex-shrink-1 btn tx-000 bg-200 mt-3 w-100"
          >
            Filter
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
