<div class="row nopadding mb-3">
  <div class="col-sm-9 p-0">
    <!-- eventcard -->
    {% include "./components/eventcard.jinja" %}
  </div>

  <!-- eventeditormodal -->
  {% include "./components/eventeditormodal.jinja" %}

  <div class="col-sm-3 d-flex justify-content-center ps-3 conditional-padding">
    <button class="
        btn
        bg-300
        tx-000
        btn-lg
        edit-button
        align-self-center
        w-100
        nopadding
        shadow
      " type="button" data-bs-toggle="modal" data-bs-target="#event-editor-{{index}}">
      Edit
    </button>
  </div>
</div>