<nav class="navbar navbar-expand navbar-dark fixed-top shadow bg-400">
  <div class="container">
    <ul class="navbar-nav d-flex justify-content-evenly w-100">
      <li class="nav-item">
        <a class="nav-link d-flex" href="{{url_for('main.index')}}">
          <svg class="fas fa-2x fa-home fa-fw mx-2"></svg>
          <span class="nav-text link-text align-self-center"> Home page </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex" href="{{url_for('main.findevents')}}">
          <svg class="fas fa-2x fa-search fa-fw mx-2"></svg>
          <span class="nav-text link-text align-self-center">
            Find events
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex" href="{{url_for('main.myevents')}}">
          <svg class="fas fa-2x fa-clipboard-list fa-fw mx-2"></svg>
          <span class="nav-text link-text align-self-center"> My events </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex" href="{{url_for('main.bookedevents')}}">
          <svg class="fas fa-2x fa-bookmark fa-fw mx-2"></svg>
          <span class="nav-text link-text align-self-center">
            Booked events
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex" href="{{url_for('main.account')}}">
          <svg class="fas fa-2x fa-user-circle fa-fw mx-2"></svg>
          <span class="nav-text link-text align-self-center"> Account </span>
        </a>
      </li>
    </ul>
  </div>
</nav>